.idea
.directory
*.pyc
*.sqlite3
*.mo
*.pot
pytest.ini
*/atlas/*
google-play-services_lib/gen/*
google-play-services_lib/build.xml
google-play-services_lib/local.properties
google-play-services_lib/proguard-project.txt
_build
build/
dist/
*.egg-info
